*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
   background-image: url(image/1116859-large-background-nature-1920x1080-free-download.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
form label{
    font-size: large;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.forgot {
    font-size: 14px;
    color: #c3135bde;
    text-decoration: none;
}
button[type="submit"] {
    width: 100%;
    padding: 14px;
    border: none;
    background: #c3135bde;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
}
.divider{
    text-align: center;
    padding: 10px 0;
    color: #666;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social button{
    flex: 1;
    margin: 5px;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}
.social button{
    background: #c3135bde;
    cursor: pointer;
    color: white;
}
.singup{
    text-align: center;
    margin-top: 20px;
}
.container{
    background-color: white;
    width: 100%;
    max-width: 1000px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(rgba(0,0,0,0,2));
}
.left-box{
    flex: 1;
    padding: 50px;
    color: white;
    background: #c3135bde;
}
.left-box h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.left-box p{
    margin-bottom: 20px;
}
.left-box ul{
    list-style: none;
}
.left-box ul li{
    margin-bottom: 12px;
    font-size: 16px;
}
.right-box{
    flex: 1;
    padding: 50px;
}
.right-box h2{
    font-size: 35px;
    margin-bottom: 5px;
}
.subtitle{
    color: #666;
    margin-bottom: 14px;
}
.title{
    text-align: center;
}
.LOLO{
    display: flex;
}

a{
    color: #c3135bde;
    text-decoration: none
}